<?xml version="1.0" encoding="utf-8"?>
<!-- Azure App Service (Windows): run the Go relay via httpPlatformHandler.
     WebSockets must be ENABLED on the app (az webapp config set
     -\-web-sockets-enabled true) while the IIS webSocket module below stays
     disabled so upgrade requests pass through to the Go process. -->
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%\site\wwwroot\beyblade-relay.exe"
                  arguments=""
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\beyblade-relay"
                  startupTimeLimit="120">
    </httpPlatform>
    <webSocket enabled="false" />
  </system.webServer>
</configuration>
