<?xml version="1.0" encoding="utf-8"?>
<!-- web.config for hosting the game as IIS virtual application /beyblade
     under an existing App Service site (physical path site\beyblade-app).
     The site's root app (DeskFerry relay) is untouched. -->
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%\site\beyblade-app\beyblade-relay.exe"
                  arguments="-pathbase /beyblade"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\beyblade-relay"
                  startupTimeLimit="120">
    </httpPlatform>
    <webSocket enabled="false" />
  </system.webServer>
</configuration>
